<%- include("partials/header") %>
    <div class="alert alert-danger my-5 col-6 offset-3" role="alert">
        <h4 class="alert-heading">TRANSACTION FAILED!</h4>
        <p>We are so sorry!!! This operation is invalid</p>
        <hr>
        <p class="mb-0">Seems like the user has insufficient funds. Please try again with the correct amount.</p>
    </div>
    <%- include("partials/footer") %>