<%- include("partials/header") %>

    <div class="container">
        <button class="btn"><a href="https://www.thesparksfoundationsingapore.org/">Click to visit TSF</a></button>
    </div>

    <div class="content">
        <h2 class="heading">BASIC BANKING SYSTEM</h2>
    </div>

    <p class="main-content">
        The main objective of this app is to transfer credits between customers and
        and maintain a transaction history of all the transfers made.
    </p>

    <%- include("partials/footer") %>